extend ../layout/_layout.pug

block vars
  - var body_class = 'pa-lp';

block content
  main.l-main
    div.l-main__inner
      section.pa-lp__section-background
        h1 title 1
      section.pa-lp__section-scroll
        p scroll 1
      section.pa-lp__section-background
        h1 title 2
      section.pa-lp__section-scroll
        p scroll 2
      section.pa-lp__section-background
        h1 title 3
      section.pa-lp__section-scroll
        p scroll 3
      section.pa-lp__section-background
        h1 title 4
      section.pa-lp__section-scroll
        p scroll 4