header.l-header
  div.l-header__inner
    div.l-header__logo
      a(href=`${publicPath ? publicPath : '/'}`)
        img(src=`${assetsPath}/images/icon/crow.svg`,width=48,height=48)
    div.l-header__balloon
      span.l-header__bio I love web development!!
